In [125]:
# !wget https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/101/214/original/amazon_data4.zip -P ../data/

In [126]:
!unzip -d ../data ../data/amazon_data4.zip

unzip:  cannot find or open ../data/amazon_data4.zip, ../data/amazon_data4.zip.zip or ../data/amazon_data4.zip.ZIP.

In [127]:
import pandas as pd
import numpy as np

np.set_printoptions(suppress = True , precision = 2)

In [128]:
orders = pd.read_csv('../data/orders.csv')
products = pd.read_csv('../data/products.csv')
orders.head()

,product_id,user_id,user_name,review_id,review_title,review_content,order_timestamp
0,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000
1,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114
2,B096MSW6CT,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",2023-01-01 11:56:03.934426229
3,B08HDJ86NZ,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",2023-01-01 17:54:05.901639344
4,B08CF3B7N1,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",2023-01-01 23:52:07.868852459

In [129]:
print(f'{orders.shape=} , {products.shape=}')

orders.shape=(1465, 7) , products.shape=(1465, 10)

In [130]:
products.head()

,product_id,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,₹399,"₹1,099",4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,₹199,₹349,4.0,43994.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories,₹199,"₹1,899",3.9,7928.0,【 Fast Charger& Data Sync】-With built-in safet...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories,₹329,₹699,4.2,94363.0,The boAt Deuce USB 300 2 in 1 cable is compati...,https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories,₹154,₹399,4.2,16905.0,[CHARGE & SYNC FUNCTION]- This cable comes wit...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

In [131]:
df = pd.merge(orders , products , on='product_id' , how='left')
df.head()

,product_id,user_id,user_name,review_id,review_title,review_content,order_timestamp,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link
0,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,₹399,"₹1,099",4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,₹399,"₹1,099",4.2,24270.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/I/51UsScvHQN...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
2,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,₹399,"₹1,099",4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
3,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,₹199,₹349,4.0,43994.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
4,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,₹199,₹349,4.0,43993.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/I/31zOsqQOAO...,https://www.amazon.in/Ambrane-Unbreakable-Char...

In [132]:
#extract the price:
def fn(val):
    if(pd.isnull(val)):return val
    return float(str(val[1:]).replace(',' , ''))

df['actual_price'] = df['actual_price'].apply(fn)
df['discounted_price'] = df['discounted_price'].apply(fn)
df

,product_id,user_id,user_name,review_id,review_title,review_content,order_timestamp,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link
0,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24270.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/I/51UsScvHQN...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
2,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
3,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,199.0,349.0,4.0,43994.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
4,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,199.0,349.0,4.0,43993.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/I/31zOsqQOAO...,https://www.amazon.in/Ambrane-Unbreakable-Char...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,B08L7J3T31,"AHITFY6AHALOFOHOZEOC6XBP4FEA,AFRABBODZJZQB6Z4U...","Prabha ds,Raghuram bk,Real Deal,Amazon Custome...","R3G3XFHPBFF0E8,R3C0BZCD32EIGW,R2EBVBCN9QPD9R,R...","Received the product without spanner,Excellent...","I received product without spanner,Excellent p...",2023-12-30 00:07:52.131147540,Noir Aqua - 5pcs PP Spun Filter + 1 Spanner | ...,Home&Kitchen,379.0,919.0,4.0,1090.0,SUPREME QUALITY 90 GRAM 3 LAYER THIK PP SPUN F...,https://m.media-amazon.com/images/I/41fDdRtjfx...,https://www.amazon.in/Noir-Aqua-Spanner-Purifi...
1733,B01M6453MB,"AFG5FM3NEMOL6BNFRV2NK5FNJCHQ,AGEINTRN6Z563RMLH...","Manu Bhai,Naveenpittu,Evatira Sangma,JAGANNADH...","R3DDL2UPKQ2CK9,R2SYYU1OATVIU5,R1VM993161IYRW,R...","ok,everything was good couldn't return bcoz I ...","ok,got everything as mentioned but the measuri...",2023-12-30 06:05:54.098360656,Prestige Delight PRWO Electric Rice Cooker (1 ...,Home&Kitchen,2280.0,3045.0,4.1,4118.0,"230 Volts, 400 watts, 1 Year",https://m.media-amazon.com/images/I/41gzDxk4+k...,https://www.amazon.in/Prestige-Delight-PRWO-1-...
1734,B009P2LIL4,"AGVPWCMAHYQWJOQKMUJN4DW3KM5Q,AF4Q3E66MY4SR7YQZ...","Nehal Desai,Danish Parwez,Amazon Customer,Amaz...","R1TLRJVW4STY5I,R2O455KRN493R1,R3Q5MVGBRIAS2G,R...","very good,Work but front melt after 2 month,Go...","plastic but cool body ,u have to find sturdy s...",2023-12-30 12:03:56.065573772,Bajaj Majesty RX10 2000 Watts Heat Convector R...,Home&Kitchen,2219.0,3080.0,3.6,468.0,International design and styling|Two heat sett...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Bajaj-RX-10-2000-Watt-Co...
1735,B00J5DYCCA,"AF2JQCLSCY3QJATWUNNHUSVUPNQQ,AFDMLUXC5LS5RXDJS...","Shubham Dubey,E.GURUBARAN,Mayank S.,eusuf khan...","R39Q2Y79MM9SWK,R3079BG1NIH6MB,R29A31ZELTZNJM,R...","Fan Speed is slow,Good quality,Good product,go...",I have installed this in my kitchen working fi...,2023-12-30 18:01:58.032786884,Havells Ventil Air DSP 230mm Exhaust Fan (Pist...,Home&Kitchen,1399.0,1890.0,4.0,8031.0,Fan sweep area: 230 MM ; Noise level: (40 - 45...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Havells-Ventilair-230mm-...
1736,B01486F4G6,"AFGW5PT3R6ZAVQR4Y5MWVAKBZAYA,AG7QNJ2SCS5VS5VYY...","Rajib,Ajay B,Vikas Kahol,PARDEEP,Anindya Prama...","R20RBRZ0WEUJT9,ROKIFK9R2ISSE,R30EEG2FNJSN5I,R2...","Works perfect,Ok good product,Nice Product. Re...",It does it job perfectly..only issue is temp c...,2023-12-31 00:00:00.000000000,Borosil Jumbo 1000-Watt Grill Sandwich Maker (...,Home&Kitchen,2863.0,3690.0,4.3,6987.0,"Brand-Borosil, Specification â€“ 23V ~ 5Hz;1 W...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Borosil-Jumbo-1000-Watt-...

In [133]:
df['actual_price'].unique()

array([  1099.  ,    349.  ,   1899.  ,    999.  ,    699.  ,    399.  ,
         1000.  ,    499.  ,    299.  ,    339.  ,    799.  ,    700.  ,
          899.  ,  24999.  ,  21990.  ,   1799.  ,  22900.  ,    199.  ,
        19990.  ,  19999.  ,   1999.  ,    750.  ,    599.  ,    666.66,
         1900.  ,  45999.  ,    695.  ,  34999.  ,   1599.  ,   1208.  ,
          475.  ,    395.  ,   2199.  ,    500.  ,   2100.  ,  12999.  ,
         1399.  ,  21999.  ,   1499.  ,  47900.  ,    845.  ,   1400.  ,
        14990.  ,   2999.  ,  42999.  ,  30990.  ,   3999.  ,    249.  ,
        19125.  ,   1299.  ,  39999.  ,  40990.  ,  52900.  ,    800.  ,
        31999.  ,   1809.  ,  29999.  ,  65000.  ,  20000.  ,  23990.  ,
        15999.  ,  44990.  ,  44999.  ,   1700.  ,    595.  ,  27990.  ,
         1200.  ,  34990.  ,   1500.  ,  49990.  ,    931.  ,   2399.  ,
         1339.  ,  20900.  ,  15990.  ,   1600.  ,    849.  ,   1199.  ,
             nan,  22990.  ,   2499.  ,  47990.  ,    485.  ,  18990.  ,
        11000.  ,  70900.  ,    549.  ,  35999.  ,   1699.  ,  31990.  ,
         9990.  ,  16990.  ,  59999.  ,    600.  ,   1490.  ,   2299.  ,
         4999.  ,   1749.  ,   1100.  ,  49999.  ,  56790.  ,    795.  ,
          798.  ,    995.  , 139900.  ,  85000.  ,    758.  ,   4699.  ,
        24990.  ,    650.  ,   3100.  ,  18999.  ,  69900.  ,    670.  ,
        79990.  ,  35000.  ,  54990.  ,  50999.  ,   4500.  ,  28900.  ,
          449.  ,    900.  ,   1052.  ,  25999.  ,   3500.  ,  14999.  ,
        51990.  ,  69999.  ,  50000.  ,  19499.  ,   9999.  ,   7990.  ,
         8999.  ,  28999.  ,   6990.  ,  11999.  ,   1800.  ,   7999.  ,
        17999.  ,  20999.  ,  10999.  ,   8499.  ,    495.  ,  16999.  ,
         5999.  ,  20990.  ,   3990.  ,  33999.  ,  38999.  ,  26999.  ,
          649.  ,    171.  ,   2899.  ,  29990.  ,   1630.  ,  13499.  ,
         6999.  ,   6499.  ,   2990.  ,   2400.  ,    149.  ,   5299.  ,
        32999.  ,  39990.  ,   3499.  ,   2599.  ,   1249.  ,   9499.  ,
        74999.  ,   4490.  ,    895.  ,    237.  ,   1995.  ,    315.  ,
           50.  ,    165.  ,   1290.  ,   2498.  ,   5499.  ,   1350.  ,
          761.  ,   2500.  ,    180.  ,    225.  ,   4499.  ,    550.  ,
         3490.  ,    250.  ,   2800.  ,    404.  ,   1295.  ,    160.  ,
         3000.  ,    861.  ,   2495.  ,  13750.  ,     59.  ,   3299.  ,
          375.  ,    440.  ,   2000.  ,   2900.  ,    100.  ,   1795.  ,
          220.  ,   1650.  ,   2198.  ,   4100.  ,   1190.  ,   3495.  ,
          720.  ,    590.  ,   7350.  ,   2595.  ,   2490.  ,   4990.  ,
           99.  ,     75.  ,   5734.  ,   1390.  ,   3295.  ,   2911.  ,
          175.  ,   3250.  ,   2295.  ,    450.  ,   1109.  ,   1929.  ,
          400.  ,    120.  ,   2799.  ,    210.  ,   2890.  ,   4700.  ,
         4332.96,    990.  ,   5490.  ,   2790.  ,   1645.  ,    310.  ,
         4199.  ,   4000.  ,    200.  ,    230.  ,   2796.  ,    723.  ,
        12499.  ,    320.  ,   3875.  ,  19110.  ,    150.  ,    775.  ,
        32000.  ,   1300.  ,    300.  ,    535.  ,   7005.  ,   2895.  ,
         3195.  ,   6355.  ,   7500.  ,     39.  ,  37999.  ,   1990.  ,
         1949.  ,   1547.  ,   1150.  ,   1090.  ,   3599.  ,    420.  ,
         9625.  ,   6100.  ,  59890.  ,   1245.  ,   1695.  ,   1549.  ,
         1445.  ,   3193.  ,   1345.  ,   6190.  ,  13999.  ,   2995.  ,
         5890.  ,  13150.  ,    785.  ,   3210.  ,   1595.  ,   3645.  ,
         7950.  ,   1745.  ,   1545.  ,   5000.  ,   3945.  ,   2099.  ,
         5295.  ,   3595.  ,   1129.  ,   5795.  ,    875.  ,  15270.  ,
         4195.  ,   1989.  ,   1111.  ,  10400.  ,   6295.  ,   9650.  ,
        10590.  ,     89.  ,   2485.  ,   3279.  ,   3799.  ,   7299.  ,
          625.  ,   1020.  ,   8990.  ,   1639.  ,  11595.  ,   1750.  ,
         2095.  ,   2300.  ,   4295.  ,    749.  ,   1775.  ,   1130.  ,
         9455.  ,    825.  ,   9995.  ,   6000.  ,   5550.  ,   4590.  ,
         4400.  ,   5190.  ,    940.  ,     79.  ,  14290.  ,   1950.  ,
         3190.  ,   2660.  ,  59900.  ,   6375.  ,    350.  ,   8500.  ,
         1560.  ,   6500.  ,   7795.  ,   5995.  ,   2349.  ,   4775.  ,
         1230.  ,   5156.  ,  19825.  ,   1920.  ,  16000.  ,  11995.  ,
         1690.  ,   1790.  ,   8995.  ,    239.  ,   4290.  ,    640.  ,
         3790.  ,   4560.  ,   2600.  ,   3300.  ,  23559.  ,   2545.  ,
         5500.  ,  12150.  ,   4995.  ,   7506.  ,  18000.  ,   1850.  ,
         3995.  ,   2695.  ,   2290.  ,   3099.  ,   1075.  ,   7290.  ,
         3398.  ,   1620.  ,   4495.  ,    980.  ,  11500.  ,   3550.  ,
         1975.  ,   4600.  ,  10295.  ,   2380.  ,   8820.  ,   4200.  ,
         1282.  ,  11850.  ,  20049.  ,  24850.  ,  16490.  ,    975.  ,
          635.  ,   3390.  ,   1010.  ,  10900.  ,   4005.  ,   4650.  ,
        24500.  ,   6070.  ,   6700.  ,    970.  ,  23999.  ,    850.  ,
         7445.  ,   1395.  ,   4330.  ,  12500.  ,   2385.  ,   4890.  ,
         3899.  ,  16899.  ,  75990.  ,    747.  ,  11990.  ,   4849.  ,
          510.  ,   2550.  ,   8478.  ,   3895.  ,   5495.  ,   3199.  ,
         7776.  ,   2590.  ,   6299.  ,   4799.  ,   5799.  ,   7200.  ,
          389.  ,  13049.  ,   3890.  ,    260.  ,   8073.  ,   2360.  ,
        11495.  ,   4780.  ,  10995.  ,   1440.  ,   3045.  ,   3290.  ,
         3098.  ,    919.  ,   3080.  ,   1890.  ,   3690.  ])

## calculate discount%:

In [136]:
# df['actual_price'] , df['discounted_price']
def fn(row):
    return ((row['actual_price'] - row['discounted_price']) / row['actual_price']) * 100

df['calculated_discount'] = df.apply(fn , axis = 1)
df.head()

,product_id,user_id,user_name,review_id,review_title,review_content,order_timestamp,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link,calculated_discount
0,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,63.694268
1,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24270.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/I/51UsScvHQN...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,63.694268
2,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,63.694268
3,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,199.0,349.0,4.0,43994.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...,42.979943
4,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,199.0,349.0,4.0,43993.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/I/31zOsqQOAO...,https://www.amazon.in/Ambrane-Unbreakable-Char...,42.979943

In [12]:
df.groupby('category')['calculated_discount'].mean()

category
Car&Motorbike            41.525000
Computers&Accessories    55.374270
Electronics              52.152439
Health&PersonalCare      52.684211
Home&Kitchen             40.241448
HomeImprovement          57.944088
MusicalInstruments       45.808298
OfficeProducts           12.771811
Toys&Games                0.000000
Name: calculated_discount, dtype: float64

In [13]:
def fn(col):
    return col.mean()

def fnn(col):
    # print(col)
    return col.mean()
df.groupby('category').agg({"rating":[fn , fnn , 'min' , 'max'] , "calculated_discount":[fn , fnn]})

                         rating                     calculated_discount  \
                             fn       fnn  min  max                  fn
category
Car&Motorbike          3.800000  3.800000  3.8  3.8           41.525000
Computers&Accessories  4.158934  4.158934  3.0  5.0           55.374270
Electronics            4.090508  4.090508  2.8  4.7           52.152439
Health&PersonalCare    4.000000  4.000000  4.0  4.0           52.684211
Home&Kitchen           4.045890  4.045890  2.3  4.8           40.241448
HomeImprovement        4.250000  4.250000  4.0  4.5           57.944088
MusicalInstruments     3.900000  3.900000  3.8  4.0           45.808298
OfficeProducts         4.309677  4.309677  4.0  4.5           12.771811
Toys&Games             4.300000  4.300000  4.3  4.3            0.000000


                             fnn
category
Car&Motorbike          41.525000
Computers&Accessories  55.374270
Electronics            52.152439
Health&PersonalCare    52.684211
Home&Kitchen           40.241448
HomeImprovement        57.944088
MusicalInstruments     45.808298
OfficeProducts         12.771811
Toys&Games              0.000000

In [14]:
#apply a fn to the entire group:
def fgroup(group):
    return group['actual_price'].mean() - group['discounted_price'].mean()
df.groupby('category').apply(fgroup)

/var/folders/5f/scjcfk_97_n7zmjltnpm2mjc0000gn/T/ipykernel_1069/1777186962.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('category').apply(fgroup)

category
Car&Motorbike            1661.000000
Computers&Accessories     740.857453
Electronics              4143.782554
Health&PersonalCare      1001.000000
Home&Kitchen             1857.723325
HomeImprovement           462.000000
MusicalInstruments        709.000000
OfficeProducts             65.686022
Toys&Games                  0.000000
dtype: float64

### IDIOMS in pandas.

In [15]:
orders.head()

,product_id,user_id,user_name,review_id,review_title,review_content,order_timestamp
0,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000
1,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114
2,B096MSW6CT,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",2023-01-01 11:56:03.934426229
3,B08HDJ86NZ,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",2023-01-01 17:54:05.901639344
4,B08CF3B7N1,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",2023-01-01 23:52:07.868852459

In [16]:
import timeit

In [17]:
def idiomatic():
    df = orders
    return (df.where(df['user_name'].str.startswith('M'))
    .dropna()
    .set_index('product_id')
    .rename(columns={'user_name':'userNmae'}))

timeit.timeit(idiomatic , number = 10)

0.018853499997931067

In [18]:
def nonidiomatic():
    df = orders
    df = df[df['user_name'].str.startswith('M')]
    df.set_index('product_id' , inplace = True)
    df.rename(columns = {'user_name':'userName'})
    return df
timeit.timeit(nonidiomatic , number = 10)

0.023229582999192644

## Group by

In [19]:
df = pd.merge(orders , products , on = 'product_id' , how = 'left')
df.head()

,product_id,user_id,user_name,review_id,review_title,review_content,order_timestamp,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link
0,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,₹399,"₹1,099",4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,₹399,"₹1,099",4.2,24270.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/I/51UsScvHQN...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
2,B07JW9H4J1,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,₹399,"₹1,099",4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
3,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,₹199,₹349,4.0,43994.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
4,B098NS6PVG,"AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,2023-01-01 05:58:01.967213114,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,₹199,₹349,4.0,43993.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/I/31zOsqQOAO...,https://www.amazon.in/Ambrane-Unbreakable-Char...

In [20]:
for group , frame in df.groupby('category'):
    print('group: ', group , '\tmax_rating: ', frame['rating'].max())

group:  Car&Motorbike 	max_rating:  3.8
group:  Computers&Accessories 	max_rating:  5.0
group:  Electronics 	max_rating:  4.7
group:  Health&PersonalCare 	max_rating:  4.0
group:  Home&Kitchen 	max_rating:  4.8
group:  HomeImprovement 	max_rating:  4.5
group:  MusicalInstruments 	max_rating:  4.0
group:  OfficeProducts 	max_rating:  4.5
group:  Toys&Games 	max_rating:  4.3

In [21]:
df.groupby('category')['rating'].value_counts().sort_values()

category               rating
Car&Motorbike          3.8         1
MusicalInstruments     4.0         1
                       3.8         1
HomeImprovement        4.5         1
                       4.0         1
                                ...
Computers&Accessories  4.0        99
Electronics            4.1       103
                       4.2       103
Computers&Accessories  4.2       108
                       4.3       125
Name: count, Length: 70, dtype: int64

## groupby according to index and passing a function to the index as well.

In [22]:
df = df.set_index(['category' , 'rating'])
df.head()

                              product_id  \
category              rating
Computers&Accessories 4.2     B07JW9H4J1
                      4.2     B07JW9H4J1
                      4.2     B07JW9H4J1
                      4.0     B098NS6PVG
                      4.0     B098NS6PVG

                                                                        user_id  \
category              rating
Computers&Accessories 4.2     AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...
                      4.2     AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...
                      4.2     AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...
                      4.0     AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...
                      4.0     AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...

                                                                      user_name  \
category              rating
Computers&Accessories 4.2     Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...
                      4.2     Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...
                      4.2     Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...
                      4.0     ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...
                      4.0     ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...

                                                                      review_id  \
category              rating
Computers&Accessories 4.2     R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...
                      4.2     R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...
                      4.2     R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...
                      4.0     RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...
                      4.0     RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...

                                                                   review_title  \
category              rating
Computers&Accessories 4.2     Satisfied,Charging is really fast,Value for mo...
                      4.2     Satisfied,Charging is really fast,Value for mo...
                      4.2     Satisfied,Charging is really fast,Value for mo...
                      4.0     A Good Braided Cable for Your Type C Device,Go...
                      4.0     A Good Braided Cable for Your Type C Device,Go...

                                                                 review_content  \
category              rating
Computers&Accessories 4.2     Looks durable Charging is fine tooNo complains...
                      4.2     Looks durable Charging is fine tooNo complains...
                      4.2     Looks durable Charging is fine tooNo complains...
                      4.0     I ordered this cable to connect my phone to An...
                      4.0     I ordered this cable to connect my phone to An...

                                            order_timestamp  \
category              rating
Computers&Accessories 4.2     2023-01-01 00:00:00.000000000
                      4.2     2023-01-01 00:00:00.000000000
                      4.2     2023-01-01 00:00:00.000000000
                      4.0     2023-01-01 05:58:01.967213114
                      4.0     2023-01-01 05:58:01.967213114

                                                                   product_name  \
category              rating
Computers&Accessories 4.2     Wayona Nylon Braided USB to Lightning Fast Cha...
                      4.2     Wayona Nylon Braided USB to Lightning Fast Cha...
                      4.2     Wayona Nylon Braided USB to Lightning Fast Cha...
                      4.0     Ambrane Unbreakable 60W / 3A Fast Charging 1.5...
                      4.0     Ambrane Unbreakable 60W / 3A Fast Charging 1.5...

                             discounted_price actual_price  rating_count  \
category              rating
Computers&Accessories 4.2                ₹399       ₹1,099       24269.0
                      4.2                ₹399       ₹1,099       24270.0
                      4.2                ₹399       ₹1,099       24269.0
                      4.0                ₹199         ₹349       43994.0
                      4.0                ₹199         ₹349       43993.0

                                                                  about_product  \
category              rating
Computers&Accessories 4.2     High Compatibility : Compatible With iPhone 12...
                      4.2     High Compatibility : Compatible With iPhone 12...
                      4.2     High Compatibility : Compatible With iPhone 12...
                      4.0     Compatible with all Type C enabled devices, be...
                      4.0     Compatible with all Type C enabled devices, be...

                                                                       img_link  \
category              rating
Computers&Accessories 4.2     https://m.media-amazon.com/images/W/WEBP_40237...
                      4.2     https://m.media-amazon.com/images/I/51UsScvHQN...
                      4.2     https://m.media-amazon.com/images/W/WEBP_40237...
                      4.0     https://m.media-amazon.com/images/W/WEBP_40237...
                      4.0     https://m.media-amazon.com/images/I/31zOsqQOAO...

                                                                   product_link
category              rating
Computers&Accessories 4.2     https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
                      4.2     https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
                      4.2     https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
                      4.0     https://www.amazon.in/Ambrane-Unbreakable-Char...
                      4.0     https://www.amazon.in/Ambrane-Unbreakable-Char...

In [23]:
for group , frame in df.groupby(level = (0,1)):
    print(group)

('Car&Motorbike', 3.8)
('Computers&Accessories', 3.0)
('Computers&Accessories', 3.3)
('Computers&Accessories', 3.4)
('Computers&Accessories', 3.5)
('Computers&Accessories', 3.6)
('Computers&Accessories', 3.7)
('Computers&Accessories', 3.8)
('Computers&Accessories', 3.9)
('Computers&Accessories', 4.0)
('Computers&Accessories', 4.1)
('Computers&Accessories', 4.2)
('Computers&Accessories', 4.3)
('Computers&Accessories', 4.4)
('Computers&Accessories', 4.5)
('Computers&Accessories', 4.6)
('Computers&Accessories', 5.0)
('Electronics', 2.8)
('Electronics', 3.0)
('Electronics', 3.2)
('Electronics', 3.3)
('Electronics', 3.4)
('Electronics', 3.5)
('Electronics', 3.6)
('Electronics', 3.7)
('Electronics', 3.8)
('Electronics', 3.9)
('Electronics', 4.0)
('Electronics', 4.1)
('Electronics', 4.2)
('Electronics', 4.3)
('Electronics', 4.4)
('Electronics', 4.5)
('Electronics', 4.6)
('Electronics', 4.7)
('Health&PersonalCare', 4.0)
('Home&Kitchen', 2.3)
('Home&Kitchen', 2.6)
('Home&Kitchen', 2.8)
('Home&Kitchen', 2.9)
('Home&Kitchen', 3.0)
('Home&Kitchen', 3.1)
('Home&Kitchen', 3.2)
('Home&Kitchen', 3.3)
('Home&Kitchen', 3.4)
('Home&Kitchen', 3.5)
('Home&Kitchen', 3.6)
('Home&Kitchen', 3.7)
('Home&Kitchen', 3.8)
('Home&Kitchen', 3.9)
('Home&Kitchen', 4.0)
('Home&Kitchen', 4.1)
('Home&Kitchen', 4.2)
('Home&Kitchen', 4.3)
('Home&Kitchen', 4.4)
('Home&Kitchen', 4.5)
('Home&Kitchen', 4.6)
('Home&Kitchen', 4.7)
('Home&Kitchen', 4.8)
('HomeImprovement', 4.0)
('HomeImprovement', 4.5)
('MusicalInstruments', 3.8)
('MusicalInstruments', 4.0)
('OfficeProducts', 4.0)
('OfficeProducts', 4.1)
('OfficeProducts', 4.2)
('OfficeProducts', 4.3)
('OfficeProducts', 4.4)
('OfficeProducts', 4.5)
('Toys&Games', 4.3)

In [24]:
def fn(item):
    if(item[1] > 4):
        return (item[0] , 1)
    return (item[0] , 0)
for group , frame in df.groupby(by = fn):
    print(group)

('Car&Motorbike', 0)
('Computers&Accessories', 0)
('Computers&Accessories', 1)
('Electronics', 0)
('Electronics', 1)
('Health&PersonalCare', 0)
('Home&Kitchen', 0)
('Home&Kitchen', 1)
('HomeImprovement', 0)
('HomeImprovement', 1)
('MusicalInstruments', 0)
('OfficeProducts', 0)
('OfficeProducts', 1)
('Toys&Games', 1)
(nan, 0)
(nan, 1)

## Scales

In [ ]:
## categorical and ordered data.
grades = ['A+','A' , 'A-','B+','B' , 'B-','C+','C' , 'C-','D+','D' , 'D-']
df = pd.DataFrame(grades , index = ['excellent','excellent','excellent','good','good','good' , 'ok','ok','ok' , 'poor' , 'poor', 'poor'] , columns = ['grades'])

df.astype('category')

grades    category
dtype: object

In [40]:
# create an ordered data type and convert to ordered data
category_dtype = pd.CategoricalDtype(categories = grades , ordered = True)
dgrades = df.astype(category_dtype)
dgrades.head()

          grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B

In [44]:
dgrades[dgrades > 'C']

          grades
excellent    NaN
excellent    NaN
excellent    NaN
good         NaN
good         NaN
good         NaN
ok           NaN
ok           NaN
ok            C-
poor          D+
poor           D
poor          D-

In [49]:
df = pd.read_csv('../data/census.csv')
# select county level data

df = df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [57]:
# df.set_index('STNAME').groupby(level = 0)['CENSUS2010POP'].agg(np.mean)
gdf = df.groupby('STNAME')['CENSUS2010POP'].agg(np.mean)
gdf.head()

/var/folders/5f/scjcfk_97_n7zmjltnpm2mjc0000gn/T/ipykernel_1069/806148985.py:2: FutureWarning: The provided callable <function mean at 0x1085bde40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  gdf = df.groupby('STNAME')['CENSUS2010POP'].agg(np.mean)

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
Name: CENSUS2010POP, dtype: float64

In [63]:
pd.cut(gdf , 10).head()

STNAME
Alabama         (11706.087, 75333.413]
Alaska          (11706.087, 75333.413]
Arizona       (390320.176, 453317.529]
Arkansas        (11706.087, 75333.413]
California    (579312.234, 642309.586]
Name: CENSUS2010POP, dtype: category
Categories (10, interval[float64, right]): [(11706.087, 75333.413] < (75333.413, 138330.766] < (138330.766, 201328.118] < (201328.118, 264325.471] ... (390320.176, 453317.529] < (453317.529, 516314.881] < (516314.881, 579312.234] < (579312.234, 642309.586]]

In [66]:
melt = pd.DataFrame({"Name":['Lino' , 'Dino' , 'Dinosaures' , 'LinkedIn' , 'FB'] , 
                     "2025-05-23" : np.random.randint(100,300,5),
                     "2025-06-23" : np.random.randint(100,300,5),
                     "2025-07-23" : np.random.randint(100,300,5),
                     "2025-08-23" : np.random.randint(100,300,5)})
melt

         Name  2025-05-23  2025-06-23  2025-07-23  2025-08-23
0        Lino         148         296         136         139
1        Dino         282         233         101         127
2  Dinosaures         172         221         228         289
3    LinkedIn         156         205         285         119
4          FB         244         160         106         295

In [68]:
melt.melt(id_vars = 'Name' , var_name='Date', value_name = 'Price')

          Name        Date  Price
0         Lino  2025-05-23    148
1         Dino  2025-05-23    282
2   Dinosaures  2025-05-23    172
3     LinkedIn  2025-05-23    156
4           FB  2025-05-23    244
5         Lino  2025-06-23    296
6         Dino  2025-06-23    233
7   Dinosaures  2025-06-23    221
8     LinkedIn  2025-06-23    205
9           FB  2025-06-23    160
10        Lino  2025-07-23    136
11        Dino  2025-07-23    101
12  Dinosaures  2025-07-23    228
13    LinkedIn  2025-07-23    285
14          FB  2025-07-23    106
15        Lino  2025-08-23    139
16        Dino  2025-08-23    127
17  Dinosaures  2025-08-23    289
18    LinkedIn  2025-08-23    119
19          FB  2025-08-23    295

In [76]:
logs = pd.read_csv('../data/log.csv')
logs.head(10) , logs.shape

(         time    user       video  playback position paused  volume
 0  1469974424  cheryl  intro.html                  5  False    10.0
 1  1469974454  cheryl  intro.html                  6    NaN     NaN
 2  1469974544  cheryl  intro.html                  9    NaN     NaN
 3  1469974574  cheryl  intro.html                 10    NaN     NaN
 4  1469977514     bob  intro.html                  1    NaN     NaN
 5  1469977544     bob  intro.html                  1    NaN     NaN
 6  1469977574     bob  intro.html                  1    NaN     NaN
 7  1469977604     bob  intro.html                  1    NaN     NaN
 8  1469974604  cheryl  intro.html                 11    NaN     NaN
 9  1469974694  cheryl  intro.html                 14    NaN     NaN,
 (33, 6))

In [81]:
logs.set_index('time').sort_index()

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [84]:
import re

In [97]:
def fn(page):
    return re.search('.*.html' , str(page))

print(fn('com.html'))

<re.Match object; span=(0, 8), match='com.html'>

In [99]:
logs.replace('.*.html$' , 'webpage' , regex= True)

          time    user    video  playback position paused  volume
0   1469974424  cheryl  webpage                  5  False    10.0
1   1469974454  cheryl  webpage                  6    NaN     NaN
2   1469974544  cheryl  webpage                  9    NaN     NaN
3   1469974574  cheryl  webpage                 10    NaN     NaN
4   1469977514     bob  webpage                  1    NaN     NaN
5   1469977544     bob  webpage                  1    NaN     NaN
6   1469977574     bob  webpage                  1    NaN     NaN
7   1469977604     bob  webpage                  1    NaN     NaN
8   1469974604  cheryl  webpage                 11    NaN     NaN
9   1469974694  cheryl  webpage                 14    NaN     NaN
10  1469974724  cheryl  webpage                 15    NaN     NaN
11  1469974454     sue  webpage                 24    NaN     NaN
12  1469974524     sue  webpage                 25    NaN     NaN
13  1469974424     sue  webpage                 23  False    10.0
14  1469974554     sue  webpage                 26    NaN     NaN
15  1469974624     sue  webpage                 27    NaN     NaN
16  1469974654     sue  webpage                 28    NaN     5.0
17  1469974724     sue  webpage                 29    NaN     NaN
18  1469974484  cheryl  webpage                  7    NaN     NaN
19  1469974514  cheryl  webpage                  8    NaN     NaN
20  1469974754     sue  webpage                 30    NaN     NaN
21  1469974824     sue  webpage                 31    NaN     NaN
22  1469974854     sue  webpage                 32    NaN     NaN
23  1469974924     sue  webpage                 33    NaN     NaN
24  1469977424     bob  webpage                  1   True    10.0
25  1469977454     bob  webpage                  1    NaN     NaN
26  1469977484     bob  webpage                  1    NaN     NaN
27  1469977634     bob  webpage                  1    NaN     NaN
28  1469977664     bob  webpage                  1    NaN     NaN
29  1469974634  cheryl  webpage                 12    NaN     NaN
30  1469974664  cheryl  webpage                 13    NaN     NaN
31  1469977694     bob  webpage                  1    NaN     NaN
32  1469977724     bob  webpage                  1    NaN     NaN

In [101]:
logs.isna().sum()

time                  0
user                  0
video                 0
playback position     0
paused               30
volume               29
dtype: int64

In [108]:
admissions = pd.read_csv('../data/Admission_Predict.csv' , index_col=0)
admissions.columns = [x.strip().lower().replace(' ', '_') for x in admissions.columns]
admissions

,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

In [109]:
admissions[(admissions.chance_of_admit > 0.7) | (admissions.chance_of_admit < 0.9)]

,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

In [112]:
census = pd.read_csv('../data/census.csv')
county = census[census.SUMLEV == 50]
county

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [115]:
df = county.set_index(['STNAME' , 'CTYNAME'])
df

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County             54571              54571            54660
        Baldwin County            182265             182265           183193
        Barbour County             27457              27457            27341
        Bibb County                22915              22919            22861
        Blount County              57322              57322            57373
...                                  ...                ...              ...
Wyoming Sweetwater County          43806              43806            43593
        Teton County               21294              21294            21297
        Uinta County               21118              21118            21102
        Washakie County             8533               8533             8545
        Weston County               7208               7208             7181

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                              ...
Alabama Autauga County               55253            55175  ...
        Baldwin County              186659           190396  ...
        Barbour County               27226            27159  ...
        Bibb County                  22733            22642  ...
        Blount County                57711            57776  ...
...                                    ...              ...  ...
Wyoming Sweetwater County            44041            45104  ...
        Teton County                 21482            21697  ...
        Uinta County                 20912            20989  ...
        Washakie County               8469             8443  ...
        Weston County                 7114             7065  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME
Alabama Autauga County             7.242091         -2.915927
        Baldwin County            14.832960         17.647293
        Barbour County            -4.728132         -2.500690
        Bibb County               -5.527043         -5.068871
        Blount County              1.807375         -1.177622
...                                     ...               ...
Wyoming Sweetwater County          1.072643         16.243199
        Teton County              -1.589565          0.972695
        Uinta County             -17.755986         -4.916350
        Washakie County          -11.637475         -0.827815
        Weston County            -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [116]:
df.T

STNAME             Alabama                                            \
CTYNAME     Autauga County Baldwin County Barbour County Bibb County
SUMLEV           50.000000      50.000000      50.000000   50.000000
REGION            3.000000       3.000000       3.000000    3.000000
DIVISION          6.000000       6.000000       6.000000    6.000000
STATE             1.000000       1.000000       1.000000    1.000000
COUNTY            1.000000       3.000000       5.000000    7.000000
...                    ...            ...            ...         ...
RNETMIG2011       7.606016      15.844176      -4.874741   -5.088389
RNETMIG2012      -2.626146      18.559627      -2.758113   -4.363636
RNETMIG2013      -2.722002      22.727626      -7.167664   -5.403729
RNETMIG2014       2.592270      20.317142      -3.978583    0.754533
RNETMIG2015      -2.187333      18.293499     -10.543299    1.107861

STNAME                                                                 \
CTYNAME     Blount County Bullock County Butler County Calhoun County
SUMLEV          50.000000      50.000000     50.000000      50.000000
REGION           3.000000       3.000000      3.000000       3.000000
DIVISION         6.000000       6.000000      6.000000       6.000000
STATE            1.000000       1.000000      1.000000       1.000000
COUNTY           9.000000      11.000000     13.000000      15.000000
...                   ...            ...           ...            ...
RNETMIG2011      1.859511     -29.001673    -13.936612      -5.791579
RNETMIG2012     -0.848580      -2.825524    -11.586865      -4.092677
RNETMIG2013     -1.402476       1.507017     -5.557058      -5.062836
RNETMIG2014     -1.577232      17.243790      1.184103      -3.912834
RNETMIG2015     -0.884411     -13.193961     -6.430868      -2.806406

STNAME                                       ...         Wyoming              \
CTYNAME     Chambers County Cherokee County  ... Niobrara County Park County
SUMLEV            50.000000       50.000000  ...       50.000000   50.000000
REGION             3.000000        3.000000  ...        4.000000    4.000000
DIVISION           6.000000        6.000000  ...        8.000000    8.000000
STATE              1.000000        1.000000  ...       56.000000   56.000000
COUNTY            17.000000       19.000000  ...       27.000000   29.000000
...                     ...             ...  ...             ...         ...
RNETMIG2011       -1.821092        6.416167  ...       -0.401849    6.486639
RNETMIG2012        4.701181        1.420264  ...        0.806452   11.127389
RNETMIG2013        3.781439        5.757384  ...       29.066295   10.877797
RNETMIG2014       -1.290228        0.230419  ...      -12.603387   -5.585731
RNETMIG2015        2.346901       -2.931307  ...        7.492114    0.856839

STNAME                                                                       \
CTYNAME     Platte County Sheridan County Sublette County Sweetwater County
SUMLEV          50.000000       50.000000       50.000000         50.000000
REGION           4.000000        4.000000        4.000000          4.000000
DIVISION         8.000000        8.000000        8.000000          8.000000
STATE           56.000000       56.000000       56.000000         56.000000
COUNTY          31.000000       33.000000       35.000000         37.000000
...                   ...             ...             ...               ...
RNETMIG2011      4.373094        2.122524      -21.092907          1.255221
RNETMIG2012      4.933173        9.342778       16.828794         16.243199
RNETMIG2013      2.176403        5.523001      -39.211861         -5.295460
RNETMIG2014      5.598720        4.781489      -14.409938        -14.075283
RNETMIG2015      4.207414       -2.198937      -20.664059        -14.070195

STNAME
CTYNAME     Teton County Uinta County Washakie County Weston County
SUMLEV         50.000000    50.000000       50.000000     50.000000
REGION          4.000000     4.000000        4.000000      4.000000
DIVISION        8.000000     8.000000        8.000000      8.000000
STATE          56.000000    56.000000       56.000000     56.000000
COUNTY         39.000000    41.000000       43.000000     45.000000
...                  ...          ...             ...           ...
RNETMIG2011     0.654527   -18.136812      -11.990126    -12.032179
RNETMIG2012     2.408578    -5.536861       -1.182592     -8.040059
RNETMIG2013    21.160658    -7.521840       -2.250385     12.372583
RNETMIG2014    16.308671   -14.740608      -18.020168      1.533635
RNETMIG2015     1.520747   -12.606351        1.441961      6.935294

[98 rows x 3142 columns]

In [124]:
df.loc[('Colorado' , 'Larimer County')]

SUMLEV         50.000000
REGION          4.000000
DIVISION        8.000000
STATE           8.000000
COUNTY         69.000000
                 ...
RNETMIG2011    10.332795
RNETMIG2012    13.198460
RNETMIG2013    13.330401
RNETMIG2014    19.695139
RNETMIG2015    21.445261
Name: (Colorado, Larimer County), Length: 98, dtype: float64